header {
    padding: 0 5% 0 5%;
}

section {    
  
    margin-left: 2%;
    padding-bottom: 20%;
    display: flex;
}

h2 {
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
    border-radius: 10px;
    padding: 1em;
    margin: 0 25%; 
    font-size: 2.5vw;
}

#imgcoureuse {
    border: 0.75vw solid white; 
    border-radius: 50%; 
    width: 25vw; 
    height: 25vw; 
    margin: 7% 0 0 5%; 
    box-shadow: rgba(91, 91, 91, 0.3) 0px 7px 29px 0px;
}

.title {
    display: flex;
    margin: 2% 0 0 20%; 
    flex-direction: column;
    align-items: flex-end;

    background-image: url(imagesheader/logo.png);
    background-size: 55vw auto;
    background-position: center bottom;
    background-repeat: no-repeat;

}

h1 {
    font-size: 4.5vw;
    margin: 20% 0 0 0;
    padding: 0;
   
}

#design {
    width: 18vw;
    height: 18vw;
} 