.byteam {
    display: grid;
    grid-template-columns: repeat(2, 10fr);
    grid-gap: 40px;
    justify-items: center;
    align-items: baseline;
    justify-content: center;
    align-content: center;
    margin: auto;
    margin-left: 10PX;
    margin-right: 10px;
    padding: 80px;
}

.team-member {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 4.47%;
    border-radius: 5px;
    background-color: #d9d9d9cc;
    box-shadow: 0 4px 5px 0 #5c5c5ccc;
    cursor: pointer;
    padding: 30px;
}





.member-image {
    width: 20%;
    border-radius: 100px;
    height: auto;
    padding: 7px;
    object-fit: cover;
}




.member-info {
    margin-top: 10px;
}


@media screen and (max-width: 768px) {
    .byteam {
        grid-template-columns: repeat(1, 1fr);
    }



    .team-member {
        justify-self: center;
        margin-left: auto;
        margin-right: auto;
    }
}

.team-member {

    transition: transform 0.5s;
}





.team_member_modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .2s ease;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0 4px 70px 10px #463865;
    cursor: pointer;
    padding: 30px;
}

.team_member_modal._open {
    display: block;
    visibility: visible;
    pointer-events: all;
    user-select: all;
    opacity: 1 !important;
    margin-top: 0;
}

.center-card {
    grid-column: span 2;
    
    justify-self: center;

}

@media screen and (max-width: 768px) {
    .center-card {
        grid-column: span 1;
        
    }
}