/* CSS Commun ne pas modifier */

@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');

:root {
    --primaryColor: #E4D8FE;

    --HeadingXL: lighter 4rem 'Kurale', sans-serif;
    --HeadingL: lighter 2.5rem 'Kurale', sans-serif;
    --HeadingM: lighter 2rem 'Kurale', sans-serif;
    --HeadingS: lighter 1.5rem 'Kurale', sans-serif;

    --p: 1.25rem 'Kurale', sans-serif;
    --pMobile: 1rem 'Kurale', sans-serif;
    --Footer: #0F334D 1.25rem 'Kurale', sans-serif;

    --shadow: 2px 4px 4px 0px #4F03AB33;
}


* {
    font-family: 'Kurale', serif;
    color: #2D1D40;
}

html {
    background-color: var(--primaryColor);
    padding: 5%;
}

body {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 50%, rgba(249, 245, 255, 1) 50%);
    margin: auto;
    min-height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    background-color: #4F03AB;
    border: solid 1px #4F03AB;
    color: white;
    border-radius: 10px;
    height: 62px;
    width: 193px;
    text-align: center;
}

button:hover {
    background-color: white;
    color: #4F03AB;
    cursor: pointer;
}

/* Fin Css Commun*/
li a {
    text-decoration: none;
}

li a:hover {
    color: #4F03AB;

}

/* Nav */

nav {
    margin: auto;
    height: 100px;
    background-color: #fff;
    width: 80%;
    border-radius: 0 0 30px 30px;
    display: flex;
    justify-content: space-between;
}

.logoContainer {
    display: flex;
    align-items: center;
}

#logo {
    position: relative;
    width: 90px;
    z-index: +1;
    left: 30px;
    top: 5px;
}

.rotate-in-center:hover {
    animation: rotate-in-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes rotate-in-center {
    0% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        opacity: 1;
    }
}


#ellipse {
    position: relative;
    right: 50px;
}

.textContainer {
    margin-left: -30px;
}

.textContainer h2,
.textContainer p {
    margin: 0;
}

#realMenu {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    text-align: center;
}

#realMenu li {
    font: var(--p);
    margin: 0 15px;
}

#menu {
    display: none;
    color: #FFC47E;
}

#hiddenMenuList {
    display: none;
}




/* Media Queries */
@media screen and (max-width:1024px) {
    #realMenu li {
        font: var(--pMobile);
    }
}

@media screen and (max-width:900px) {

    #realMenu {
        margin-right: 20px;
    }

    .link {
        display: none;
    }

    #menu {
        scale: 1.5;
        display: block;
        cursor: pointer;
        margin: 0;
        transition-duration: 1s;
    }

    #menu.active {
        transform: rotate(-90deg);
        transition-duration: 1s;
    }

    .logoContainer {
        scale: 0.8;
    }

    #hiddenMenuList {
        visibility: hidden;
        list-style: none;
        background: var(--primaryColor);
        padding: 0;
        margin: 10px;
        text-align: center;
        height: 100px;
        width: 150px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        right: 12%;
        top: 120px;
        opacity: 0;
        transition-duration: 1s;
        box-shadow: var(--shadow);
    }

    #hiddenMenuList.active {
        visibility: visible;
        opacity: 1;
        height: 150px;
        transition-duration: 1s;
    }

}

@media screen and (max-width:500px) {

    nav {
        width: 90%;
    }

    .logoContainer {
        scale: 0.6;
    }

    #hiddenMenuList {
        right: 8%;
    }
}

li a {
    text-decoration: none;
}

li a:hover {
    color: #4F03AB;

}

/* Nav */

nav {
    margin: 0 auto;
    height: 100px;
    background-color: #fff;
    width: 80%;
    border-radius: 0 0 30px 30px;
    display: flex;
    justify-content: space-between;
}

.logoContainer {
    display: flex;
    align-items: center;
}

#logo {
    position: relative;
    width: 90px;
    z-index: +1;
    left: 30px;
}

#ellipse {
    position: relative;
    right: 50px;
}

.textContainer {
    margin-left: -30px;
}

.textContainer h2,
.textContainer p {
    margin: 0;
}

#realMenu {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    text-align: center;
}

#realMenu li {
    font: var(--p);
    margin: 0 15px;
}

#menu {
    display: none;
    color: #FFC47E;
}

#hiddenMenuList {
    display: none;
}

/* Fin Css Commun


/* Media Queries */

@media screen and (max-width:1024px) {
    #realMenu li {
        font: var(--pMobile);
    }
}

@media screen and (max-width:900px) {

    #realMenu {
        margin-right: 20px;
    }

    .link {
        display: none;
    }

    #menu {
        scale: 1.5;
        display: block;
        cursor: pointer;
        margin: 0;
        transition-duration: 1s;
    }

    #menu.active {
        transform: rotate(-90deg);
        transition-duration: 1s;
    }

    .logoContainer {
        scale: 0.8;
    }

    #hiddenMenuList {
        visibility: hidden;
        list-style: none;
        background: var(--primaryColor);
        padding: 0;
        margin: 10px;
        text-align: center;
        height: 100px;
        width: 150px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        right: 12%;
        top: 120px;
        opacity: 0;
        transition-duration: 1s;
        box-shadow: var(--shadow);
        z-index: +1;
    }

    #hiddenMenuList.active {
        visibility: visible;
        opacity: 1;
        height: 150px;
        transition-duration: 1s;
    }

}

@media screen and (max-width:500px) {

    nav {
        width: 90%;
    }

    .logoContainer {
        scale: 0.6;
    }

    #hiddenMenuList {
        right: 8%;
    }
}

/* Fin Css Commun*/

/*commence le footer*/


.page-footer {
    background-color: #E4D8FE;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -70px;
}

.page-footer_team {
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    list-style-type: none;

}

.social {
    display: flex;
}


.social a {
    margin-right: 10px;
    display: inline-block;

}

.social a img {
    width: 30px;
    height: 30px;
    border-radius: 50%;

}

.social a img:hover {

    transition: all 0.3s;
    opacity: 0.5;

}

@media screen and (max-width:1024px) {
    .page-footer_team {
        font-size: 1.25rem;
    }

    .social a img {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;

    }
}


@media screen and (max-width:900px) {

    body {
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 65%, rgba(249, 245, 255, 1) 65%);
    }

    .page-footer_team {
        font-size: 1rem;
    }

    .social a img {
        width: 1.3rem;
        height: 1.3rem;
        border-radius: 50%;

    }
}

@media screen and (max-width:500px) {
    .page-footer_team {
        font-size: 0.8rem;
    }

    .social a img {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;

    }
}